body {
    background-color: hsl(216, 12%, 8%);
    color: hsl(217, 12%, 63%);
    font-family: "Overpass", sans-serif;
    font-weight: 400;
}

.card {
    max-width: 354px;
    height: 354px;
    margin: 30vh auto;
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    padding: 30px;
    background-image: radial-gradient(circle at top, hsl(213, 19%, 18%), #171e28);
}


h1 {
    text-align: left;
    font-family: "Overpass", sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-size: 30px;
}

h2 {
    padding: 10px;
    border-radius: 20px;
    background-color:#262f38;
    color:hsl(25, 97%, 53%);
    font-size: 15px;
    font-weight: 400;
    width: 200px;
    text-align: center;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 3em;
}

p {
    text-align: left;
    margin: auto;
    font-size: 15px;
    line-height: 1.6;
}

.center-text {
    text-align: center;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding-left: 0em;
}

.num-btn {
    padding: auto;
    display: inline-block;
    margin: auto;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-top: 20px;
    background-color: #262f38;
    border: none;
    color: hsl(217, 12%, 63%);
}

.image {
    padding-top: 16px;
}

.thank-card {
    text-align: center;
    align-items: center;
}

.top-btn {
    text-align: center;
    background-color: #262f38;
    align-self: left;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.sub-btn {
    display: block;
    margin:auto;
    border-radius: 50px;
    background-color: hsl(25, 97%, 53%);
    width: 350px;
    height: 50px;
    margin-top: 25px;
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    font-size: 15px;
    border: none;
    color:hsl(0, 0%, 100%);
    letter-spacing: 3px;
}

.btn-select {
    background-color: #798496;
    color: hsl(0, 0%, 100%);
}

.num-btn:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.sub-btn:hover {
    background-color:hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}